

body{
margin:0;
padding:0;
}


.top-container{
width:100%;
height:100vh;
display:flex;
top:0;
}

.middle-container{
width:80%;
height:100vh;
display:flex;
background-color:#081b29;
overflow: hidden;
}

.bottom-container{
  width:100%;
  height:40vh;
  display:flex;
  background-color: #0f2027;

}

#hel{
  color: #64a5eb;
  position: relative;
  padding-top: 5%;
}

#name {
position:relative;
color:white;
font-size: clamp(60px, 5vw, 120px);
font-style:bold;
font-family: "Poppins-extrabold";
text-align: center;
letter-spacing: 3.75pt;
font-weight: 800;
padding-top: 10%;
}

#profession{
position:relative;
font-size: clamp(20px, 4vw, 40px);
font-family: "Poppins-extrabold";
color:#9df9ef;
text-align: center;
letter-spacing: 3.75pt;
padding-top: 10px;
}

.video{
position:relative;
width:100%;
height:100%;
}

#myVideo{
position:absolute;
width:100%;
height:100%;
object-fit:cover;

}

.profile-img{
width:40%;
opacity:0.7;
position:relative;
left:65%;
bottom:90%;
}

.navbar{
margin-left:60%;
margin-right:10%;
top:10%;
font-size:25px;
}

.navbar a{
color:white;
text-decoration:none;
}

.navbar a:hover{
color:#eab7e7;
}

#profile-description{
font-family:"Anton", serif;
color:LightBlue;
text-align:left;
padding:10% 0% 0% 10%;
font-size: clamp(12px, 4vw, 30px)
}

#profile-info{
color:#2a80db;
}

.buttons{
position:relative;
color:white;
font-family: "Barlow", serif;
padding:2% 15%;
margin:1rem;
display:flex;
gap:20px;
}

.contact-me{
  color: white;
  font-family:"Anton", serif;
  text-align: center;
  padding: 20%;
}


#tsparticles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Keep it behind your content */
    background-color: #0f2027; /* Optional base background */
  }
  
